/* paleta de cores 1(#53227A) 2(#441a6a) 3(#36115a) 4(#270949) 5(#180039) */



/*no asteristico estamos zerando altura e largua para a pagina web */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    height: 100vh;
    width: 100vw;
}
/* header estamos estizinado o cabeçalho (cabeça) da pagina */
#menu-header{
    background-color: #180039e0;
    padding: 10vh;
   
}

/*estilizando cabeçalho da pagina onde estao os menus */
#menu-header ul{
    display: flex;
    justify-content: end;
    flex-wrap: wrap;

}

/* estilizando os menus */
#menu-header a {
    margin: 20px;
    font-size: 20px;
    color: white;
    flex-wrap: wrap;

}

/*estilizando minha section inicial*/
#sessao {
    background: linear-gradient(180deg, #a2aaaa 8.33%,#180039 100%);
    padding: 100px;
}



/*estilizando meu button dentro da minha section inicial  onde meu button esta ancorado com minha tag (A) se nao ele nao fica clicavel*/
#sessao button {
    padding: 20px ;
    border-radius: 50px;
    width: 200px;
    color: rgb(255, 255, 255);
    background-color: #270949;
    margin: 30px ;
    cursor: pointer;
    border-color: white;
}

/* estilizando  o button para quando passa o mouse ele possa ter uma inteartividade fazendo que o button possa mudar de cor */
#sessao button:hover {
    background-color: #461d68;
    transition: 0.5s;
}

#sessao h1 {
    
    font-size: 45px;
    color: rgba(0, 0, 0, 0.473);
}

/*estilizando meu (P) dentro da minha section inicial */
#sessao p {
    font-size: 40px;
    color: white;
  
}

/*section sesseao 2 */
#sessao2{
    background-color:   #180039 ;
    padding: 100px;
}

#sessao2 img{
    display: flex ;
    
}

#sessao2 img {
    padding: 50px;
    width: 500px;
    height: 350px;
    margin-left: 400px;
    

}
div{
    display: block;
}
#sessao2 p {
    padding: 2em;
   text-align: center;
    font-size: 2em;
    
}


#sessao2 a button  {
    margin-bottom:60px ;
    margin-left: 43em;
    border-radius: 90px;
    height: 50px;
    width: 200px;
    flex-wrap: wrap;
}
 
/*section sessao 3 */

#sessao3 h2{
    padding: 1em;
text-align: center;
font-size: 3em;
}
#sessao3 p{
    padding: 100px;
    font-size: 20px;

}

#sessao3 a button{
    margin-left: 43em;
    border-radius: 90px;
    margin-bottom: 60px;
    width: 200px;
    height: 50px;
    flex-wrap: wrap;
}
.iline{
  margin: 0 auto;
    width: 70%;

    
}
